<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.travel">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name=".TravelsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/yun_speak"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.home.welcome.splash.SplashActivity"
            android:theme="@style/SplashTheme">
        </activity>
        <activity
            android:name=".ui.home.welcome.WelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.baseui.HomeActivity"
            android:launchMode="singleTop"
            >
            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->
        </activity>
        <activity android:name=".ui.baseui.BaseActivity" />
        <activity android:name=".ui.baseui.FullTransparencyActivity" />
        <activity android:name=".ui.circle.post.PostActivity" />
        <activity android:name=".ui.me.othercenter.OtherUserCenterActivity" />
        <activity android:name=".ui.me.messagecenter.MessageCenterActivity" />
        <activity android:name=".ui.appoint.selectdestination.SelectDestinationActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".ui.appoint.adddestination.AddCustomDestinationActivity" />
        <activity android:name=".ui.me.fansandfollow.FollowAndFanActivity" />
        <activity android:name=".ui.me.myalbum.MyAlbumActivity" />
        <activity android:name=".ui.me.myalbum.createalbum.CreateAlbumActivity" />
        <activity android:name=".ui.me.myalbum.editalbum.EditAlbumActivity" />
        <activity android:name=".ui.baseui.CatOtherUserAlbumActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.me.level.LevelActivity" />
        <activity android:name=".ui.me.setting.SettingActivity" />
        <activity android:name=".ui.baseui.ActiveActivity" />
        <activity android:name=".ui.appoint.travelplan.TravelsPlanWithMeActivity" />
        <activity android:name=".ui.baseui.BarBaseActivity" />
        <activity android:name=".ui.find.travels.TravelsActivity"/>
        <activity android:name=".ui.me.titlemanage.TitleManagementActivity"/>
        <activity android:name=".ui.appoint.customdestination.CustomDestinationActivity"/>
        <activity android:name=".ui.baseui.ActivateDetailActivity"/>
        <activity android:name=".ui.appoint.personnelequipment.PersonnelEquipmentActivity"/>
        <activity android:name=".ui.baseui.DeliciousDetailActivity"/>
        <activity android:name=".ui.me.myalbum.editalbum.albumselector.pictureselector.PictureSelectorActivity"/>
        <activity android:name=".ui.me.ordercenter.orders.confirmorders.orderdetail.OrdersDetailActivity"/>
        <activity android:name=".ui.appoint.travelplan.TravelsPlanActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.appoint.costsetting.CostSettingActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity android:name=".ui.appoint.withme.withmedetail.AppointWithMeDetailActivity"/>
        <activity android:name=".ui.appoint.personnelequipment.PersonnelEquipmentWithMeActivity"/>
        <activity android:name=".ui.baseui.BaseTransActivity"
            />
        <activity android:name=".ui.home.welcome.splash.login.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTop"
            />
        <activity android:name=".ui.baseui.FindCommonActivity"/>
        <activity android:name=".ui.baseui.TravelsDetailActivity"/>
        <activity android:name=".ui.baseui.DestinationDetailActivity"/>
        <activity android:name=".ui.appoint.choicesequipment.ChoicePropsActivity"/>
        <activity android:name=".ui.appoint.aite.AiteActivity"/>
        <activity android:name=".ui.me.myappoint.MyAppointActivity"/>
        <activity android:name=".ui.me.bulltetinboard.BulletinBoardActivity"/>
        <activity android:name=".ui.me.mycollection.MyCollectionActivity"/>
        <activity android:name=".ui.appoint.travelplan.TravelsPlanBaseActivity"/>
        <activity android:name=".ui.me.myappoint.memberdetail.MemberDetailActivity"/>
        <activity android:name=".ui.me.ordercenter.OrdersCenterActivity"/>
        <activity android:name=".ui.me.ordercenter.orders.confirmorders.ConfirmOrdersActivity"/>
        <activity android:name=".ui.me.mycollection.collectiondetail.CollectionDetailActivity"/>
        <activity android:name=".ui.me.userservice.CustomerServiceActivity"/>
        <activity android:name=".ui.me.myalbum.editalbum.albumselector.pictureselector.previewpicture.PreviewPicturesActivity"/>
        <activity android:name=".ui.me.changephone.ChangePhoneActivity"/>
        <activity android:name=".ui.baseui.MessagePrivateActivity"/>
        <activity android:name=".ui.me.messagecenter.relateme.detailmessage.RelateMeDetailActivity"/>
        <activity android:name=".ui.me.myhobby.MyHobbyActivity"/>
        <activity android:name=".ui.baseui.PersonalProfileActivity"/>
        <activity android:name=".ui.baseui.HomeSearchActivity"/>
        <activity android:name=".ui.me.messagecenter.appointmessage.AppointMessageActivity"/>
        <activity android:name=".ui.me.identityauth.IdentityAuthenticationActivity"/>
        <activity android:name=".ui.appoint.lineplan.LinePlanActivity"/>
        <activity android:name=".ui.me.messagecenter.systemmessage.SystemMessageActivity"/>
        <activity android:name=".ui.me.myalbum.editalbum.albumselector.AlbumSelectorActivity"/>
        <activity android:name=".ui.me.about.AboutActivity"/>
        <activity android:name=".ui.appoint.createsuccess.CreateAppointSuccessActivity"/>
        <activity android:name=".ui.appoint.desremark.DesRemarkActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            />
        <activity android:name=".ui.appoint.together.togetherdetail.AppointTogetherDetailActivity"/>
        <activity android:name=".ui.me.messagecenter.relateme.RelateMeActivity"/>
        <activity android:name=".ui.baseui.HotelActivity"/>
        <activity android:name=".ui.appoint.settingtitle.SettingTitleActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".ui.home.welcome.splash.register.RegisterActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTop"
            />
        <activity android:name=".ui.baseui.RegisterSuccessActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            />
        <activity android:name=".ui.baseui.CircleDetailActivity"/>
        <activity android:name=".ui.circle.createpost.CreatePostActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/CreatePostTheme"
            />
        <activity android:name=".ui.me.mytheme.MyThemeActivity" />
        <activity android:name=".ui.baseui.LoadAndRefreshBaseActivity" />
        <activity android:name=".ui.me.identityauth.idauth.IdAuthActivity" />
        <activity android:name=".ui.me.changepassword.ChangePassWordActivity" />
        <activity android:name=".ui.me.changephone.bindphone.BindPhoneActivity" />
        <activity android:name=".ui.home.welcome.splash.login.forgetpassword.ForgetPasswordActivity" />
        <activity android:name=".ui.me.myappoint.withmeselect.MyWithMeSelectActivity" />
        <activity android:name=".ui.baseui.BaseToolBarActivity"
            android:theme="@style/ToolBarTheme"
            />
        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->
    </application>

</manifest>