<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.travel">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/yun_speak"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.activity.CircleActivity" />
        <activity android:name=".ui.activity.BaseActivity" />
        <activity android:name=".ui.activity.PostActivity"></activity>
        <activity android:name=".ui.activity.OtherUserCenterActivity"/>
    </application>

</manifest>
