<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.travel">
   <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".TravelsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/yun_speak"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
        </activity>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.HomeActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".ui.activity.CircleActivity" />
        <activity android:name=".ui.activity.BaseActivity" />
        <activity android:name=".ui.activity.FullTransparencyActivity" />
        <activity android:name=".ui.activity.PostActivity" />
        <activity android:name=".ui.activity.OtherUserCenterActivity" />
        <activity android:name=".ui.activity.MessageCenterActivity" />
        <activity android:name=".ui.activity.FollowAndFanActivity" />
        <activity android:name=".ui.activity.MyAlbumActivity" />
        <activity android:name=".ui.activity.CreateAlbumActivity" />
        <activity android:name=".ui.activity.EditAlbumActivity" />
        <activity android:name=".ui.activity.CatOtherUserAlbumActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.ActiveActivity" />
        <activity android:name=".ui.activity.DeliciousFoodActivity" />
        <activity android:name=".ui.activity.BarBaseActivity" />
        <activity android:name=".ui.activity.TravelsActivity"/>
        <activity android:name=".ui.activity.ActivateDetailActivity"/>
        <activity android:name=".ui.activity.DeliciousDetailActivity"/>
        <activity android:name=".ui.activity.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            />
        <activity android:name=".ui.activity.DestinationActivity"/>
        <activity android:name=".ui.activity.TravelsDetailActivity"/>
        <activity android:name=".ui.activity.DestinationDetailActivity"/>
        <activity android:name=".ui.activity.AiteActivity"/>
        <activity android:name=".ui.activity.MyAppointActivity"/>
        <activity android:name=".ui.activity.BulletinBoardActivity"/>
        <activity android:name=".ui.activity.MyCollectionActivity"/>
        <activity android:name=".ui.activity.LinePlanActivity"/>
        <activity android:name=".ui.activity.MemberDetailActivity"/>
        <activity android:name=".ui.activity.MyOrdersActivity"/>
        <activity android:name=".ui.activity.ConfirmOrdersActivity"/>
        <activity android:name=".ui.activity.CollectionDetailActivity"/>
        <activity android:name=".ui.activity.CreatePostActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/CreatePostTheme"
            />
    </application>

</manifest>
